In [1]:
# common
import pandas as pd
import numpy as np
from pandas import DataFrame

train_data= pd.read_csv('../csv/train.csv', low_memory=False)
test_data = pd.read_csv('../csv/test.csv')

In [2]:
train_data.head()

,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,...,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,officer_id,stop_duration,is_arrested
0,CT,2014-09-23,18:59,berlin,Hartford County,9003.0,9n x21,State Police,M,46,...,White,Moving Violation,Moving violation,False,NaN,NaN,False,55887736,1-15 min,0
1,CT,2014-08-10,16:32,greenwich,Fairfield County,9001.0,RT.15 W/B REST-AREA,State Police,M,38,...,Black,Other,Other,False,NaN,NaN,False,770626977,1-15 min,0
2,CT,2013-12-17,18:26,brooklyn,Windham County,9015.0,rt 6,State Police,M,23,...,White,Moving Violation,Moving violation,False,NaN,NaN,False,1000002961,16-30 min,0
3,CT,2014-02-07,17:05,essex,Middlesex County,9007.0,"00000 S RT 9 (ESSEX, T050)",State Police,F,23,...,White,Cell Phone,Cell phone,False,NaN,NaN,False,1000002376,1-15 min,0
4,CT,2014-11-05,04:44,union,Tolland County,9013.0,"00000 N I 84 (UNION, T145)",State Police,M,42,...,White,Other/Error,Other,False,NaN,NaN,False,70583331,1-15 min,0

In [9]:
train_data.county_fips.value_counts()

9009.0    34564
9011.0    31957
9013.0    31770
9001.0    29153
9003.0    27637
9007.0    25716
9015.0    19785
9005.0    18709
Name: county_fips, dtype: int64

In [18]:
train_data.loc[:,['fine_grained_location','county_fips']]

                                    fine_grained_location  county_fips
0                                                  9n x21       9003.0
1                                     RT.15 W/B REST-AREA       9001.0
2                                                    rt 6       9015.0
3                              00000 S RT 9 (ESSEX, T050)       9007.0
4                             00000 N I 84  (UNION, T145)       9013.0
5                                              rt8 sb x13       9001.0
6                                                cross st       9009.0
7                         00063 W I 84 (MANCHESTER, T077)       9003.0
8                                            exit 16 t080       9009.0
9                                     RT-25 S/B 2 ON RAMP       9001.0
10                                             Rt 9 N 6-7       9007.0
11      00000 W GOVERNOR JOHN DAVIS LODGE TNPK (MONTVI...       9011.0
12                           00000  RT 67  (OXFORD, T108)       9009.0
13                       00000 RT 42 (BEACON FALLS, T006)       9009.0
14                                              waterford       9011.0
15                           00000  RT 2  (LEDYARD, T072)       9011.0
16                           00000 S RT 9 (CHESTER, T026)       9007.0
17                      00000  RT 66  (MIDDLEFIELD, T082)       9007.0
18                        00000 W I 84  (SOUTHBURY, T130)       9009.0
19      MAIN ST N/B PRIOR TO INT OF WESTCOTT RD (KILLI...       9015.0
20                                            rt 6 rt 316       9013.0
21                                         W RT 2/EXIT 22       9011.0
22                                      Rte 25 N/B Exit 7       9001.0
23                                                    NaN       9011.0
24                                               I-91 N/B       9003.0
25                                     i-95 nORTH EXIT 18       9001.0
26                                       RT 202 and RT 63       9005.0
27                                          RT 15 S/B X67       9009.0
28                                                     na       9011.0
29                                                   rt 6       9013.0
...                                                   ...          ...
219289                     00000 N I 95  (WESTPORT, T158)       9001.0
219290                                    I 91 N/B Exit 9       9009.0
219291                                       RT 4 in T055       9005.0
219292                                        i-691 wb x4       9009.0
219293                                            w/b x63       9003.0
219294                                         judson ave       9005.0
219295                      00000 N RT 8 (TRUMBULL, T144)       9001.0
219296                                             x73 wb       9013.0
219297                    00000 S RT 8 (LITCHFIELD, T074)       9005.0
219298                   S I 91 X-26 (WETHERSFIELD, T159)       9003.0
219299    00000 S ANSONIA DERBY EXPY (BEACON FALLS, T006)       9009.0
219300                                         Windsor St       9003.0
219301                                  CHAPEL & FRANKLIN       9009.0
219302                                          rt 8 x.38       9005.0
219303                        00000 S I 95 (GROTON, T059)       9011.0
219304                    00000 N I 95 (STONINGTON, T137)       9011.0
219305                                             91N X8       9009.0
219306                                     rt 63 and peck       9009.0
219307                            rt 161 @silver falls rd       9011.0
219308                  00005 N RT 25  (BRIDGEPORT, T015)       9001.0
219309                  00000 LATHAM RD (MANSFIELD, T078)       9013.0
219310                                    rt 6 and rt 203       9015.0
219311                                        95nb x62-64       9007.0
219312                  00000 W RT 2  (MARLBOROUGH, T079)       9003.0
219313           00000 LITCHFIELD TNPK (LITCHFIELD, T074)       9005.0
219314                    00000 S EXIT 35 (MILFORD, T084)       9009.0
219315                  I-84 E/B EXIT 45 (HARTFORD, T064)       9003.0
219316                              RT190/MIDDLE RIVER DR       9013.0
219317                      00000 W RT 6  (WINDHAM, T163)       9015.0
219318                                            see cad       9015.0

[219319 rows x 2 columns]

In [10]:
train_data.driver_age

0         46.0
1         38.0
2         23.0
3         23.0
4         42.0
5         29.0
6         22.0
7         49.0
8         29.0
9         37.0
10        29.0
11        42.0
12        33.0
13        46.0
14        27.0
15        70.0
16        49.0
17        45.0
18        30.0
19        55.0
20        25.0
21        74.0
22        30.0
23        20.0
24        43.0
25        25.0
26        52.0
27        36.0
28        22.0
29        45.0
          ...
219289    24.0
219290    22.0
219291    57.0
219292    39.0
219293    63.0
219294    16.0
219295    29.0
219296    20.0
219297    32.0
219298    57.0
219299    22.0
219300    49.0
219301    53.0
219302    64.0
219303    48.0
219304    34.0
219305    57.0
219306    44.0
219307    52.0
219308    48.0
219309    21.0
219310    57.0
219311    24.0
219312    21.0
219313    24.0
219314    31.0
219315    39.0
219316    46.0
219317    40.0
219318    53.0
Name: driver_age, Length: 219319, dtype: float64

In [5]:
fixed_train_data = pd.DataFrame()

In [6]:
fixed_train_data['driver_age'] = train_data.driver_age

In [7]:
fixed_train_data

        driver_age
0             46.0
1             38.0
2             23.0
3             23.0
4             42.0
5             29.0
6             22.0
7             49.0
8             29.0
9             37.0
10            29.0
11            42.0
12            33.0
13            46.0
14            27.0
15            70.0
16            49.0
17            45.0
18            30.0
19            55.0
20            25.0
21            74.0
22            30.0
23            20.0
24            43.0
25            25.0
26            52.0
27            36.0
28            22.0
29            45.0
...            ...
219289        24.0
219290        22.0
219291        57.0
219292        39.0
219293        63.0
219294        16.0
219295        29.0
219296        20.0
219297        32.0
219298        57.0
219299        22.0
219300        49.0
219301        53.0
219302        64.0
219303        48.0
219304        34.0
219305        57.0
219306        44.0
219307        52.0
219308        48.0
219309        21.0
219310        57.0
219311        24.0
219312        21.0
219313        24.0
219314        31.0
219315        39.0
219316        46.0
219317        40.0
219318        53.0

[219319 rows x 1 columns]